body {
	padding-top: 50px;
}

section {
	margin: 20px 0 20px 0;
	padding: 30px 0 30px 0;
}

.title {
	text-align: center;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: bold;
}

.photos{
	margin:0;
	padding:0;
}

.photos li{
	list-style: none;
	float: left;
	margin: 5px;
	width: 23%;
}

.photos img{
	width: 100%;
}